#**Assesment 2: Algorithm Implementation and Report**

##Implementation of ID3 Decision Tree Algorithm

**Student Name:** Alifia Cesarina Harmadi

**Student ID:** 13302447

##Import the required libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split

##Load dataset

###Experimet Datasets

**TITANIC DATASET**

Install the kaggle requirement for downloading the dataset

In [ ]:
!mkdir ~/.kaggle #create the .kaggle folder in your root directory
!echo '{"username":"alifiaharmd","key":"0082f87b67920b9556fd7276d3a73519"}' > ~/.kaggle/kaggle.json #write kaggle API credentials to kaggle.json
!chmod 600 ~/.kaggle/kaggle.json  # set permissions
!pip install kaggle #install the kaggle library
!kaggle datasets list -s {KEYWORD}

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
eliasdabbas/search-engine-results-flights-tickets-keywords     Search Engine Results - Flights & Tickets Keywords   34MB  2020-04-02 23:18:26           3003
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        141KB  2020-10-30 15:53:35           3442
vstepanenko/disaster-tweets                                    Disaster Tweets                                     656KB  2020-09-07 12:54:53            180
eliasdabbas/recipes-search-engine-results-data                 Recipes Search Engine Results Data                    7MB  2019-03-30 12:24:02            259
samdeeplearning/deepnlp                                        Deep-NLP                                            234KB  2017-03-01 05:43:51           5668
taniaj/australian-election-2019-tweets                         Australian Election 2019 Tweets                      29MB  2019-05-21 09:41:38           4114
alifarsi/facebook-keyword-extraction-competition               Facebook keyword extraction competition               3GB  2017-11-21 15:48:05            317
ashkangoharfar/sites-information-data-from-alexacom-dataset    Effective SEO parameters for all types of websites    3MB  2020-06-16 11:00:36            160
bobconbob/4chan4trump                                          4chan.org/pol forum posts with keyword Trump         21MB  2017-07-02 14:56:28            128
vbmokin/nlp-with-disaster-tweets-cleaning-data                 NLP with Disaster Tweets - cleaning data            515KB  2020-07-12 18:07:38            134
biomimic/periodic-table-of-elements-mapped-to-stocks           Periodic Table of Elements Mapped to Stocks         999KB  2017-05-25 05:52:52            509
lopezbec/covid19-tweets-dataset                                COVID-19 Tweets Dataset                               4GB  2020-10-07 13:25:43            461
aanhari/alexa-dataset                                          Alexa Dataset                                        29MB  2018-04-22 22:14:44            976
hofesiy/2019-search-engine-keywords                            2017-2019 Search Engine Keywords                      5GB  2020-01-27 16:09:18             90
thehapyone/uci-online-news-popularity-data-set                 UCI Online News Popularity Data Set                   7MB  2019-10-04 07:36:10            135
fifthtribe/how-isis-uses-twitter                               How ISIS Uses Twitter                                 2MB  2019-11-14 06:50:54           7049
kmader/helen-eye-dataset                                       Helen Eye Dataset                                   438MB  2018-12-14 15:02:59            936
harriken/employeeturnover                                      Daily Happiness & Employee Turnover                   4MB  2017-08-07 09:12:12           4084
danishsaeed15/tweets-with-keyword-lockdown-in-apriljuly-2020   Tweets with keyword "lockdown" in April-July 2020     8MB  2020-09-01 15:22:43             22
jmmvutu/summer-products-and-sales-in-ecommerce-wish            Sales of summer clothes in E-commerce Wish          376KB  2020-08-23 15:16:46           9334

Downlaod dataset from kaggle

In [ ]:
!kaggle datasets download -d alifiaharmd/titanic-incident
!ls #Check the list

Downloading titanic-incident.zip to /content
  0% 0.00/22.0k [00:00<?, ?B/s]
100% 22.0k/22.0k [00:00<00:00, 8.62MB/s]
sample_data  titanic-incident.zip

Unzipping the data file

In [ ]:
!unzip \*.zip  && rm *.zip

Archive:  titanic-incident.zip
  inflating: titanic.csv

Read the dataset

In [ ]:
df = pd.read_csv (r'titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

**TITANIC DATASET PREPARATION**

In [ ]:
print('Data shape:', df.shape)
print('Data missing value info:\n', df.isnull().sum())

Data shape: (891, 12)
Data missing value info:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df = df.drop(['SibSp','Parch','Ticket','Fare','Cabin'], axis=1)
print('Data missing value info:\n', df.isnull().sum())

Data missing value info:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
Embarked         2
dtype: int64

In [ ]:
df['Age'] = df['Age'].replace(np.nan, 0)
df['Embarked'] = df['Embarked'].replace(np.nan, 'Unknown')
print('Data missing value info:\n', df.isnull().sum())

Data missing value info:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
Embarked       0
dtype: int64

In [ ]:
new = df["Name"].str.split(",", n = 1, expand = True) 
df["First Name"]= new[0] 
df["Last Name"]= new[1] 

# Dropping old Name columns 
df.drop(columns =["Name"], inplace = True) 
df.head()

   PassengerId  ...                                    Last Name
0            1  ...                              Mr. Owen Harris
1            2  ...   Mrs. John Bradley (Florence Briggs Thayer)
2            3  ...                                  Miss. Laina
3            4  ...           Mrs. Jacques Heath (Lily May Peel)
4            5  ...                            Mr. William Henry

[5 rows x 8 columns]

**PUBLIC TRANSPORTATION DATASET**

In [ ]:
#Write the data
_raw_data = """Gender,Car_Ownership,Travel_Cost,Income_Level,Transportation
Male,0,Cheap,Low,Bus
Male,1,Cheap,Medium,Bus
Female,1,Cheap,Medium,Bus
Female,0,Cheap,Medium,Train
Male,1,Cheap,Medium,Bus
Male,0,Standard,Medium,Train
Female,1,Standard,Medium,Train
Female,1,Expensive,High,Car
Male,2,Expensive,Medium,Car
Female,2,Expensive,High,Car
"""

#Store it to the 'public_trans.csv' file
with open("public_trans.csv", "w") as f:
    f.write(_raw_data)
df = pd.read_csv("public_trans.csv")
df.head()

   Gender  Car_Ownership Travel_Cost Income_Level Transportation
0    Male              0       Cheap          Low            Bus
1    Male              1       Cheap       Medium            Bus
2  Female              1       Cheap       Medium            Bus
3  Female              0       Cheap       Medium          Train
4    Male              1       Cheap       Medium            Bus

**COVID-19 DATASET**

In [ ]:
#Write the dataset
_raw_data = """Fever,Cough,Breathing_issues,Infected
No,No,No,No
Yes,Yes,Yes,Yes
Yes,Yes,No,No
Yes,No,Yes,Yes
Yes,Yes,Yes,Yes
No,Yes,No,No
Yes,No,Yes,Yes
Yes,No,Yes,Yes
No,Yes,Yes,Yes
Yes,Yes,No,Yes
No,Yes,No,No
No,Yes,Yes,Yes
No,Yes,Yes,No
No,Yes,Yes,No
Yes,Yes,No,No
"""
#Store it to the 'COVID.csv' file
with open("COVID.csv", "w") as f:
    f.write(_raw_data)
df = pd.read_csv("COVID.csv")
df.head()

  Fever Cough Breathing_issues Infected
0    No    No               No       No
1   Yes   Yes              Yes      Yes
2   Yes   Yes               No       No
3   Yes    No              Yes      Yes
4   Yes   Yes              Yes      Yes

###Dataset that used

In [ ]:
#Write the data attibutes and values
_raw_data = """Outlook,Temperature,Humidity,Wind,Play
Sunny,Hot,High,Weak,No
Sunny,Hot,High,Strong,No
Overcast,Hot,High,Weak,Yes
Rain,Mild,High,Weak,Yes
Rain,Cool,Normal,Weak,Yes
Overcast,Cool,Normal,Strong,Yes
Sunny,Cool,Normal,Strong,Yes
Sunny,Mild,High,Weak,No
Rain,Cool,Normal,Weak,Yes
Sunny,Mild,Normal,Weak,Yes
Overcast,Mild,Normal,Strong,Yes
Overcast,Hot,Normal,Strong,Yes
"""
#Store it to the 'Tennis.csv' file
with open("Tennis.csv", "w") as f:
    f.write(_raw_data)
df = pd.read_csv("Tennis.csv")
df.head() #display first 5 rows of the

    Outlook Temperature Humidity    Wind Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Mild     High    Weak  Yes
4      Rain        Cool   Normal    Weak  Yes

##Entropy Computation Function
The definition of Entropy ![gambar.png](), where i runs over over possible outcomes.

In [ ]:
def compute_entropy(y):
    if len(y) < 2: #  a trivial case
        return 0
        
    #calculate the probability of class element
    freq = np.array(y.value_counts(normalize=True))
    #calculate the entropy
    formula = -(freq * np.log2(freq + 1e-6)).sum()
    return formula

##Information gain computation Function

In [ ]:
def compute_info_gain(samples, attr, target):
    values = samples[attr].value_counts(normalize=True)
    split_ent = 0
    
    #iterate the features/attributes in the dataset to get children entropy
    for v, fr in values.iteritems(): #fr is the weight average of features/attributes
        index = samples[attr]==v
        sub_ent = compute_entropy(target[index]) #pass it to compute_entropy()
        split_ent += fr * sub_ent #children entropy
    
    ent = compute_entropy(target) #parent entropy
    ig = ent - split_ent #information gain
    return ig

##Build the Decision Tree

In [ ]:
class TreeNode:

    def __init__(self):
        self.children = {} # Sub nodes (children nodes)
        self.decision = None # Undecided value to stored the 
                             # decision value later after model fitting
        self.split_feat_name = None # Splitting feature/attribute

    #printing the information of spliting attibutes and the decision
    def pretty_print(self, prefix=''): 
        if self.split_feat_name is not None:
            for k, v in self.children.items():
                v.pretty_print(f"{prefix}:When {self.split_feat_name} is {k}")
        else:
            print(f"{prefix}:{self.decision}")

    #evaluate the model prediction performace with test data
    def predict(self, sample): 
        if self.decision is not None:
            print("Decision:", self.decision)
            return self.decision
        else:
            #get the value of the attribute and split attibutes based on 
            #the attibute spliting before in fit()
            attr_val = sample[self.split_feat_name]
            child = self.children[attr_val]

            #print the splitting attribute and the coresponding attibute value
            print("Testing ", self.split_feat_name, "->", attr_val)
            
            #go back to this function to print the decision (if option)
            return child.predict(sample)

    #fitting the model
    def fit(self, X, y): 
        if len(X) == 0: # If the data is empty when this node is arrived, 
            self.decision = "Yes" #make an arbitrary decision as the self.decision value
            return
        else: 
            unique_values = y.unique()
            if len(unique_values) == 1:
                self.decision = unique_values[0]
                return
            else:
                info_gain_max = 0
                #Finding the best split bye examining each info gain of the attributes
                for a in X.keys():
                    aig = compute_info_gain(X, a, y)
                    if aig > info_gain_max:
                        info_gain_max = aig
                        self.split_feat_name = a
                #Best split found
                print(f"Split by {self.split_feat_name}, IG: {info_gain_max:.2f}")
                self.children = {}
                for v in X[self.split_feat_name].unique():
                    index = X[self.split_feat_name] == v
                    self.children[v] = TreeNode()
                    self.children[v].fit(X[index], y[index])

##Split the dataset

In [ ]:
#divide the dataset into data(observed attributes) and target

attrs = ['Outlook','Temperature','Humidity','Wind']
data = df[attrs]
target = df.Play

#split it into train and test data
X_train70, X_test30, y_train70, y_test30 = train_test_split(data, target, test_size=0.3, random_state=1) # 70% training and 30% test
X_train80, X_test20, y_train80, y_test20 = train_test_split(data, target, test_size=0.2, random_state=1) # 80% training and 20% test

##Fit the model

###Evaluate the model with data and target

In [ ]:
ID3model = TreeNode()
ID3model.fit(data,target)
ID3model.pretty_print()

Split by Humidity, IG: 0.41
Split by Outlook, IG: 0.97
:When Humidity is High:When Outlook is Sunny:No
:When Humidity is High:When Outlook is Overcast:Yes
:When Humidity is High:When Outlook is Rain:Yes
:When Humidity is Normal:Yes

###Evaluate the model with X_train70 and y_train70 in ratio 70:30

In [ ]:
ID3model = TreeNode()
ID3model.fit(X_train70,y_train70)
ID3model.pretty_print()

Split by Humidity, IG: 0.95
:When Humidity is High:No
:When Humidity is Normal:Yes

###Evaluate the model with X_train80 and y_train80 in ratio 80:20

In [ ]:
ID3model = TreeNode()
ID3model.fit(X_train80,y_train80)
ID3model.pretty_print()

Split by Humidity, IG: 0.92
:When Humidity is Normal:Yes
:When Humidity is High:No

##Test the model

###Predict the X_test and y_test with ratio 80:20

In [ ]:
#Test tree model in test data 
for i in [0,1,2]: #X_test and y_test has 3 indexes
    print(f"Test predict sample[{i}]: \n{X_test20.iloc[i]}\n\tTarget: {y_test20.iloc[i]}")
    print(f"Making decision ...")
    pred = ID3model.predict(X_test20.iloc[i])

Test predict sample[0]:
Outlook        Overcast
Temperature         Hot
Humidity           High
Wind               Weak
Name: 2, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> High
Decision: No
Test predict sample[1]:
Outlook        Rain
Temperature    Mild
Humidity       High
Wind           Weak
Name: 3, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> High
Decision: No
Test predict sample[2]:
Outlook          Rain
Temperature      Cool
Humidity       Normal
Wind             Weak
Name: 4, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> Normal
Decision: Yes

###Predict the X_test and y_test in ratio 70:30

In [ ]:
#Test tree model in test data 
for i in [0,1,2,3]: #X_test and y_test has 4 indexes
    print(f"Test predict sample[{i}]: \n{X_test30.iloc[i]}\n\tTarget: {y_test30.iloc[i]}")
    print(f"Making decision ...")
    pred = ID3model.predict(X_test30.iloc[i])

Test predict sample[0]:
Outlook        Overcast
Temperature         Hot
Humidity           High
Wind               Weak
Name: 2, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> High
Decision: No
Test predict sample[1]:
Outlook        Rain
Temperature    Mild
Humidity       High
Wind           Weak
Name: 3, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> High
Decision: No
Test predict sample[2]:
Outlook          Rain
Temperature      Cool
Humidity       Normal
Wind             Weak
Name: 4, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> Normal
Decision: Yes
Test predict sample[3]:
Outlook        Overcast
Temperature        Mild
Humidity         Normal
Wind             Strong
Name: 10, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> Normal
Decision: Yes

###Predict the dataset without splitting

In [ ]:
#Test tree model in the same data for model training (without splitting) 
for i in [4,7,11]:
    print(f"Test predict sample[{i}]: \n{data.iloc[i]}\n\tTarget: {target.iloc[i]}")
    print(f"Making decision ...")
    pred = ID3model.predict(data.iloc[i])

Test predict sample[4]:
Outlook          Rain
Temperature      Cool
Humidity       Normal
Wind             Weak
Name: 4, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> Normal
Decision: Yes
Test predict sample[7]:
Outlook        Sunny
Temperature     Mild
Humidity        High
Wind            Weak
Name: 7, dtype: object
	Target: No
Making decision ...
Testing  Humidity -> High
Decision: No
Test predict sample[11]:
Outlook        Overcast
Temperature         Hot
Humidity         Normal
Wind             Strong
Name: 11, dtype: object
	Target: Yes
Making decision ...
Testing  Humidity -> Normal
Decision: Yes